@model List<object>
@{
    ViewBag.Title = "Kullanıcı Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    GorevYoneticisi.Models.kullanicilar user = (GorevYoneticisi.Models.kullanicilar)Model[0];
    List<GorevYoneticisi.Models.firma_musavir> fmList = (List<GorevYoneticisi.Models.firma_musavir>)Model[1];
}

<div class="top">
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    <h2>Kullanıcı Düzenle</h2>
</div>
    <form class="form-default" id="_form">
    <div class="clearfix">
        <input id="url" name="url" type="hidden" value="@user.url">
        <div class="item col-sm-6">
            <div class="lbl">Kullanıcı Türü</div>
            <select name="kullanici_turu">
                <option value="@GorevYoneticisi.Tools.KullaniciTurleri.super_admin" @(user.kullanici_turu == GorevYoneticisi.Tools.KullaniciTurleri.super_admin ? "selected" : "")>Süper Admin</option>
                <option value="@GorevYoneticisi.Tools.KullaniciTurleri.firma_admin" @(user.kullanici_turu == GorevYoneticisi.Tools.KullaniciTurleri.firma_admin ? "selected" : "")>Firma Yöneticisi</option>
                <option value="@GorevYoneticisi.Tools.KullaniciTurleri.firma_yetkili" @(user.kullanici_turu == GorevYoneticisi.Tools.KullaniciTurleri.firma_yetkili ? "selected" : "")>Firma Temsilcisi</option>
                <option value="@GorevYoneticisi.Tools.KullaniciTurleri.user" @(user.kullanici_turu == GorevYoneticisi.Tools.KullaniciTurleri.user ? "selected" : "")>Kullanıcı</option>
            </select>
        </div>
        <div class="item col-sm-6">
            <div class="lbl">Firma Türü</div>
            <select name="firma_id">
                <option value="0">Yok</option>
                @foreach (GorevYoneticisi.Models.firma_musavir fm in fmList)
                {
                    <option value="@fm.id" @(user.firma_id == fm.id ? "selected" : "")>@Html.Raw(fm.firma_adi)</option>
                }
            </select>
        </div>
        <div class="item col-sm-6">
            <div class="lbl">Ad</div>
            <input type="text" name="ad" placeholder="Ad" value="@Html.Raw(user.ad)" required />
        </div>
        <div class="item col-sm-6">
            <div class="lbl">Soyad</div>
            <input type="text" name="soyad" placeholder="Soyad" value="@Html.Raw(user.soyad)" required />
        </div>
        <div class="item col-sm-6">
            <div class="lbl">Telefon</div>
            <input type="text" name="tel" placeholder="Telefon" value="@Html.Raw(user.tel)" required />
        </div>
        <div class="item col-sm-6">
            <div class="lbl">Kullanıcı Adı</div>
            <input type="text" name="username" placeholder="Kullanıcı Adı" value="@Html.Raw(user.username)" required />
        </div>
        <div class="item col-sm-6">
            <div class="lbl">e-Mail</div>
            <input type="text" name="email" placeholder="e-Mail Adresi" value="@Html.Raw(user.email)" required />
        </div>
        <div class="item col-sm-6">
            <div class="lbl">SGK No</div>
            <input type="text" name="sgk_no" placeholder="SGK Numarası" value="@Html.Raw(user.sgk_no)" />
        </div>
        <div class="item col-sm-6">
            <div class="lbl">TC No</div>
            <input type="text" name="tc_no" placeholder="T.C. Kimlik Numarası" value="@Html.Raw(user.tc_no)" />
        </div>
        <div class="item col-sm-6">
            <div class="lbl">Vergi Dairesi</div>
            <input type="text" name="vergi_dairesi" placeholder="Vergi Dairesi" value="@Html.Raw(user.vergi_dairesi)" />
        </div>
        <div class="item col-sm-6">
            <div class="lbl">Vergi No</div>
            <input type="text" name="vergi_no" placeholder="Vergi Numarası" value="@Html.Raw(user.vergi_no)" />
        </div>

        

        <div class="item col-sm-12">
            <div class="lbl">Adres</div>
            <textarea name="adres" placeholder="Adres">@Html.Raw(user.adres)</textarea>
        </div>
        <div class="item col-sm-6">
            <div class="lbl">Parola</div>
            <input type="password" name="password" placeholder="Şifre" />
        </div>
        <div class="item col-sm-6">
            <div class="lbl">Parola(Yeniden)</div>
            <input type="password" name="password_control" placeholder="Şifre(Tekrar)" />
        </div>
        <div class="item col-sm-12">
            <input type="checkbox" name="mail_permission" value="Mail İzni" style="display:inline;width:40px;" @Html.Raw(user.mail_permission == GorevYoneticisi.Tools.Permissions.granted ? "checked" : "")/>Sistem bildirimlerini mail olarak almak istiyorum.
        </div>
        <div class="item col-sm-12">
            <input type="checkbox" name="sms_permission" value="Sms İzni" style="display:inline;width:40px;" @Html.Raw(user.sms_permission == GorevYoneticisi.Tools.Permissions.granted ? "checked" : "") />Sistem bildirimlerini sms olarak almak istiyorum.
        </div>
        </div>
    <div class="item" style="text-align:right;">
        <button class="btn-first">GÖNDER</button>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#_form').validate({
            rules: {
                email: { email: true }
            },
            submitHandler: function (form) {
                user_send($(form));
            }
        });
    });
    function user_send(form) {
        $.post('@Url.Action("editKullanici", "Kullanicilar")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                alert("Kullanıcı bilgileri güncellenmiştir.");
            }
            else {
                alert(data.Message);
            }
        });
    }
</script>