@model List<object>
@{
    ViewBag.Title = "Şablon";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";

    GorevYoneticisi.Models.proje_surec_sablon sablon = (GorevYoneticisi.Models.proje_surec_sablon)Model[0];
    string tempGuid = (String)Model[1];
    List<GorevYoneticisi.Models.proje_surec_sablon> altSablonList = (List<GorevYoneticisi.Models.proje_surec_sablon>)Model[2];
    List<GorevYoneticisi.Models.StringWithValue> swvList = GorevYoneticisi.Tools.SurecPeriyotTurleri.getPeriyotList();
}

<div class="top">
    <i class="fa fa-refresh" aria-hidden="true"></i>
    <h2>Şablon</h2>
</div>

<form class="form-default" id="_form">
    <div class="clearfix">
        <input id="id" name="id" type="hidden" value="@Html.Raw(sablon.id == 0 ? -100 : sablon.id)">
        <input id="parent_id" name="parent_id" type="hidden" value="@sablon.parent_id">
        <input id="url" name="url" type="hidden" value="@sablon.url">
        <input id="tempGuid" name="tempGuid" type="hidden" value="@tempGuid">
        <div class="item">
            <div class="lbl">Şablon Türü</div>
            <select name="tur" id="tur" onchange="turChanged()" required>
                <option value="@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.proje)" @(GorevYoneticisi.Tools.ProjeSurecTur.proje == sablon.tur ? "selected" : "")>@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.getProjeSurecString(GorevYoneticisi.Tools.ProjeSurecTur.proje))</option>
                <option value="@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.surec)" @(GorevYoneticisi.Tools.ProjeSurecTur.surec == sablon.tur ? "selected" : "")>@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.getProjeSurecString(GorevYoneticisi.Tools.ProjeSurecTur.surec))</option>
                <option value="@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.gorev)" @(GorevYoneticisi.Tools.ProjeSurecTur.gorev == sablon.tur ? "selected" : "")>@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.getProjeSurecString(GorevYoneticisi.Tools.ProjeSurecTur.gorev))</option>
            </select>
        </div>

        <div class="row clearfix">
            <div class="item col-sm-6" style="margin:0 0 25px;">
                <div class="lbl">Şablon İsmi</div>
                <input type="text" name="sablon_ismi" id="sablon_ismi" placeholder="Şablon İsmi" value="@Html.Raw(sablon.sablon_ismi)" required />
            </div>
        </div>
        <div class="row clearfix">
            <div class="item col-sm-6" style="margin:0 0 25px;">
                <div class="lbl">İsim</div>
                <input type="text" name="isim" id="isim" placeholder="Süreç İsmi" value="@Html.Raw(sablon.isim)" required/>
            </div>
        </div>
        <div class="item" id="periyot_id">
            <div class="lbl">Periyot</div>
            <select name="periyot_turu" id="periyot_turu" required>
                @foreach (GorevYoneticisi.Models.StringWithValue swv in swvList)
                {
                    <option value="@swv.value" @(sablon.periyot_turu == Convert.ToInt32(swv.value) ? "selected" : "")>@Html.Raw(swv.text)</option>
                }
            </select>
        </div> 
        <div class="item">
            <div class="lbl">Açıklama</div>
            <textarea name="aciklama" id="aciklama" placeholder="Açıklama">@Html.Raw(sablon.aciklama)</textarea>
        </div>
    </div>
    <div class="item" style="text-align:right;">
        <button class="btn-first">GÖNDER</button>
    </div>
</form>

<div id="altSablonlar">
    <div class="top">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        <h2>Alt Şablonlar</h2>
    </div>
    <div class="ilan-list">
        <a id="yeni-uye" href="#" data-toggle="tooltip" title="Yeni Şablon Ekle" onclick="yeniSablon()">+</a>
        <div class="head clearfix">
            <h4 class="col-sm-4">ŞABLON İSMİ</h4>
            <h4 class="col-sm-4">İSİM</h4>
            <h4 class="col-sm-2">ŞABLON TÜRÜ</h4>
            <h4 class="col-sm-2"></h4>
        </div>
        <div id="gorevListDiv">
            @foreach (GorevYoneticisi.Models.proje_surec_sablon altSablon in altSablonList)
            {
                <div class="satir clearfix">
                    <div class="col-sm-4">@Html.Raw(altSablon.sablon_ismi)</div>
                    <div class="col-sm-4">@Html.Raw(altSablon.isim)</div>
                    <div class="col-sm-2">@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.getProjeSurecString(altSablon.tur))</div>
                    <div class="col-sm-2">
                        <a id="teklif-button" href="#" onclick="sablonGetir(@altSablon.id, @altSablon.vid)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a id="wrong-button" href="#" data-id="@Html.Raw(altSablon.id)" data-url="@Html.Raw(altSablon.url)"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="gorevDiv" style="display:none;">
        <div class="top">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <h2>Alt Şablon</h2>
        </div>
        <form class="form-default" id="alt_sablon_form">
            <div class="clearfix">
                <input id="id" name="id" type="hidden" value="@sablon.id">
                <input id="vid" name="vid" type="hidden" value="@sablon.vid">
                <input id="url" name="url" type="hidden" value="@sablon.url">
                <input id="tempGuid" name="tempGuid" type="hidden" value="@tempGuid">
                <input id="parent_id" name="parent_id" type="hidden" value="@sablon.id">
                <div class="item">
                    <div class="lbl">Şablon Türü</div>
                    <select name="tur" id="tur" onchange="turChanged()" required>
                        <option value="@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.gorev)" @(GorevYoneticisi.Tools.ProjeSurecTur.gorev == sablon.tur ? "selected" : "")>@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.getProjeSurecString(GorevYoneticisi.Tools.ProjeSurecTur.gorev))</option>
                    </select>
                </div>

                <div class="row clearfix">
                    <div class="item col-sm-6" style="margin:0 0 25px;">
                        <div class="lbl">Şablon İsmi</div>
                        <input type="text" name="sablon_ismi" id="sablon_ismi" placeholder="Şablon İsmi" value="@Html.Raw(sablon.sablon_ismi)" required />
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="item col-sm-6" style="margin:0 0 25px;">
                        <div class="lbl">İsim</div>
                        <input type="text" name="isim" id="isim" placeholder="Görev İsmi" value="@Html.Raw(sablon.isim)" required />
                    </div>
                </div>
                <div class="item" id="periyot_id" style="display:none;">
                    <div class="lbl">Periyot</div>
                    <select name="periyot_turu" id="periyot_turu" required>
                        @foreach (GorevYoneticisi.Models.StringWithValue swv in swvList)
                        {
                            <option value="@swv.value" @(sablon.periyot_turu == Convert.ToInt32(swv.value) ? "selected" : "")>@Html.Raw(swv.text)</option>
                        }
                    </select>
                </div>
                <div class="item">
                    <div class="lbl">Açıklama</div>
                    <textarea name="aciklama" id="aciklama" placeholder="Açıklama">@Html.Raw(sablon.aciklama)</textarea>
                </div>
            </div>
            <div class="item" style="text-align:right;">
                <button class="btn-first">GÖNDER</button>
            </div>
        </form>
    </div>
</div>
<div id="yapilacaklarDiv">
    <div class="top">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        <h2>Yapılacaklar</h2>
    </div>
    <div class="ilan-list">
        <div class="head clearfix">
            <h4 class="col-sm-10">AÇIKLAMA</h4>
            <h4 class="col-sm-2"></h4>
        </div>
        <div id="YapilacakListDiv">
            <!--<div class="satir clearfix">
                <div class="col-sm-10">Html.Raw(yplck.isim)</div>
                <div class="col-sm-2">
                    <a id="teklif-button" href="#" onclick="sablonGetir(yplck.id, yplck.vid)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a id="wrong-button" href="#" data-id="Html.Raw(yplck.id)" data-url="Html.Raw(yplck.url)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>-->
        </div>
    </div>
    <div class="top">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        <h2>Yeni Yapılacaklar</h2>
    </div>
    <form class="form-default" id="yapilacak_sablon_form">
        <div class="clearfix">
            <input id="id" name="id" type="hidden" value="0">
            <input id="vid" name="vid" type="hidden" value="0">
            <input id="url" name="url" type="hidden" value="">
            <input id="tempGuid" name="tempGuid" type="hidden" value="@tempGuid">
            <input id="gorev_id" name="gorev_id" type="hidden" value="0">
            <div class="row clearfix">
                <div class="item col-sm-6" style="margin:0 0 25px;">
                    <div class="lbl">Açıklama</div>
                    <input type="text" name="isim" id="isim" placeholder="Açıklama" value="" required />
                </div>
            </div>
        </div>
        <div class="item" style="text-align:right;">
            <button class="btn-first">GÖNDER</button>
        </div>
    </form>
</div>


<script type="text/javascript">
    function yeniSablon()
    {
        $("#YapilacakListDiv").html("");

        $('#alt_sablon_form #url').val(0);
        $('#alt_sablon_form #id').val(0);
        $('#alt_sablon_form #vid').val(0);
        $('#alt_sablon_form #isim').val('');
        $('#alt_sablon_form #sablon_ismi').val('');
        $('#alt_sablon_form #aciklama').val('');

        $('#yapilacak_sablon_form #gorev_id').val('0');
        sablonGoster();
    }
    function altSablonlariGetir(parent_id) {
        console.log(parent_id);
        $.post('@Url.Action("altSablonlariGetir")', {tempGuid : @Html.Raw("'" + tempGuid + "'"), parent_id : parent_id}, function (data) {
            console.log(data);
            if (data.IsSuccess == true) {
                $("#gorevListDiv").html("");
                $.each(data.Message, function () {
                    var eklenecekStr = '<div class="satir clearfix">'
                    + '<div class="col-sm-4 col-xs-4">' + this.sablon_ismi + '</div>'
                    + '<div class="col-sm-4">' + this.isim + '</div>'
                    + '<div class="col-sm-2 hidden-xs">' + getProjeSurecString(this.tur) + '</div>'
                    eklenecekStr += '<a id="teklif-button" href="#" onclick="sablonGetir(' + this.id + ', ' + this.vid + ')"><i class="fa fa-pencil" aria-hidden="true"></i></a>';
                    eklenecekStr += '<a id="wrong-button" href="#" data-tur="gorev" data-id="' + this.id + '", data-url="' + this.url + '"><i class="fa fa-times" aria-hidden="true"></i></a>';
                    eklenecekStr += '</div>';
                    eklenecekStr += '</div>';
                    $("#gorevListDiv").append(eklenecekStr);
                });
            }
            else {
                alert(data.Message);
            }
        });
    }
    function sablonGoster()
    {
        $("#gorevDiv").show(300);
        $("#yapilacaklarDiv").show(300);
    }
    function sablonSakla()
    {
        $("#gorevDiv").hide(400);
        $("#yapilacaklarDiv").hide(400);
    }
    function sablonGetir(id, vid)
    {
        console.log(id);
        $.post('@Url.Action("sablonGetir")', {id : id, vid : vid, tempGuid:@Html.Raw("'" + tempGuid + "'")},
            function (data) {
                if (data.IsSuccess == true) {
                    sablonGoster();
                    var obj = data.Message;
                    console.log(obj);
                    $('#alt_sablon_form #url').val(obj.url);
                    $('#alt_sablon_form #id').val(obj.id);
                    $('#alt_sablon_form #vid').val(obj.vid);
                    $('#alt_sablon_form #parent_id').val(obj.parent_id);
                    $('#alt_sablon_form #isim').val(obj.isim);
                    $('#alt_sablon_form #sablon_ismi').val(obj.sablon_ismi);
                    $('#alt_sablon_form #aciklama').val(obj.aciklama);

                    $('#yapilacak_sablon_form #gorev_id').val(obj.id);
                    console.log(obj.id);
                    yapilacaklariGetir(obj.id);
                }
                else {
                    alert(data.Message);
                }
            });
    }

    function turChanged()
    {
        turDuzenle();
    }
    function turDuzenle()
    {
        var tur = $("#tur").val();
        if (@GorevYoneticisi.Tools.ProjeSurecTur.proje == tur)
        {
            $("#altSablonlar").show();
            $("#periyot_id").hide();
            $("#yapilacaklarDiv").hide();
            $('#yapilacak_sablon_form #gorev_id').val($('#alt_sablon_form #id').val());
        }
        else if (@GorevYoneticisi.Tools.ProjeSurecTur.surec == tur)
        {
            $("#altSablonlar").show();
            $("#periyot_id").show();
            $("#yapilacaklarDiv").hide();
            $('#yapilacak_sablon_form #gorev_id').val($('#alt_sablon_form #id').val());
        }
        else if (@GorevYoneticisi.Tools.ProjeSurecTur.gorev == tur)
        {
            $("#altSablonlar").hide();
            $("#periyot_id").hide();
            $("#yapilacaklarDiv").show();
            $('#yapilacak_sablon_form #gorev_id').val($('#_form #id').val());           
        }
    }
    $(function () {
        altSablonlariGetir(@sablon.id);
        @if (sablon.tur == GorevYoneticisi.Tools.ProjeSurecTur.gorev)
        {
            <text>
        $('#yapilacak_sablon_form #gorev_id').val(@sablon.id);
        yapilacaklariGetir(@sablon.id);
        </text>
        }
        turDuzenle();
        $('#_form').validate({
            rules: {
                email: { email: true }
            },
            submitHandler: function (form) {
                send_form($(form));
            }
        });
        $('#alt_sablon_form').validate({
            rules: {
                email: { email: true }
            },
            submitHandler: function (form) {
                send_alt_sablon_form($(form));
            }
        });
        $('#yapilacak_sablon_form').validate({
            rules: {
                email: { email: true }
            },
            submitHandler: function (form) {
                send_yapilacak_sablon_form($(form));
            }
        });
    });
    function send_yapilacak_sablon_form(form) {
        $.post('@Url.Action("yapilacakSablonEkle")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                /*var gorev_id = $("#alt_sablon_form #id").val();
                yapilacaklariGetir(gorev_id);*/
                var tur = $("#_form #tur").val();
                var gorev_id = $('#_form #id').val();
                if (@GorevYoneticisi.Tools.ProjeSurecTur.gorev != tur)
                {
                    gorev_id = $('#alt_sablon_form #id').val();
                }
                yapilacaklariGetir(gorev_id);
                $("#yapilacak_sablon_form")[0].reset();
                alert("Yapılacak eklendi.");
            }
            else {
                alert(data.Message);
            }
        });
    }
    function yapilacaklariGetir(gorev_id) {
        //console.log(gorev_id);
        $.post('@Url.Action("yapilacaklariGetir")', {tempGuid : @Html.Raw("'" + tempGuid + "'"), gorev_id : gorev_id}, function (data) {
            //console.log(data);
            if (data.IsSuccess == true) {
                $("#YapilacakListDiv").html("");
                $.each(data.Message, function () {
                    var eklenecekStr = '<div class="satir clearfix">'
                    + '<div class="col-sm-10 col-xs-10">' + this.isim + '</div>'
                    + '<div class="col-sm-2 hidden-xs">';
                    eklenecekStr += '<a id="wrong-button" href="#" data-tur="yapilacak" data-id="' + this.id + '", data-url="' + this.url + '"><i class="fa fa-times" aria-hidden="true"></i></a>';
                    eklenecekStr += '</div>';
                    eklenecekStr += '</div>';
                    $("#YapilacakListDiv").append(eklenecekStr);
                });
            }
            else {
                alert(data.Message);
            }
        });
    }
    function send_alt_sablon_form(form) {
        $.post('@Url.Action("sablonEkle")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                var parent_id = $("#_form #id").val();
                altSablonlariGetir(parent_id);
                sablonSakla();
                $("#alt_sablon_form")[0].reset();
                alert("Alt şablon Eklendi.");
            }
            else {
                alert(data.Message);
            }
        });
    }
    function send_form(form) {
        $.post('@Url.Action("sablonEkle")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                alert("Şablon Eklendi.");
                var id = $("#_form #id").val();
                if (id <= 0) {
                    $("#_form")[0].reset();
                    sablonSakla();
                    altSablonlariGetir(0);
                    yapilacaklariGetir(0);
                }
            }
            else {
                alert(data.Message);
            }
        });
    }
    function sil(id, url) {
        $.ajax({
            url: "@Url.Action("silSablon", "Sablonlar")",
            data: { id: id, url: url, tempGuid:'@Html.Raw(tempGuid)' },
            dataType: "json",
            type: "POST",
            success: function (data) {
                //location.reload();
                altSablonlariGetir(@sablon.id);
            }
        });
    }
    $(document).on("click", "#wrong-button", function (e) {
        e.preventDefault();
        var tur = $(this).data("tur");
        if (tur == "gorev") {
            sil($(this).data("id"), $(this).data("url"));
        }
        else if (tur == "yapilacak") {
            silYapilacakSablon($(this).data("id"), $(this).data("url"));
        }
    });
    function silYapilacakSablon(id, url) {
        $.ajax({
            url: "@Url.Action("silYapilacaklarSablon", "Sablonlar")",
            data: { id: id, url: url, tempGuid:'@Html.Raw(tempGuid)' },
            dataType: "json",
            type: "POST",
            success: function (data) {
                var tur = $("#_form #tur").val();
                var gorev_id = $('#_form #id').val();
                if (@GorevYoneticisi.Tools.ProjeSurecTur.gorev != tur)
                {
                    gorev_id = $('#alt_sablon_form #id').val();
                }
                yapilacaklariGetir(gorev_id);
            }
        });
    }
</script>