@model List<GorevYoneticisi.Models.MesajlarDetayModel2>
@{
    ViewBag.Title = "Mesajlarım";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="top">
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    <h2>Mesajlarım</h2>
</div>

<div class="ilan-list">
    <a id="yeni-uye" href="@Url.Action("MesajimGoster")" data-toggle="tooltip" title="Yeni Mesaj">+</a>
    <div class="head clearfix">
        <h4 class="col-sm-4">MESAJ</h4>
        <h4 class="col-sm-2">KİMDEN-KİME</h4>
        <h4 class="col-sm-2">TARİH</h4>
        <h4 class="col-sm-2">DURUM</h4>
        <h4 class="col-sm-2"></h4>
    </div>
    @foreach (GorevYoneticisi.Models.MesajlarDetayModel2 msj in Model)
    {
        <div class="satir clearfix">
            <div class="col-sm-4">@Html.Raw(GorevYoneticisi.Tools.OurFunctions.ourSubString(msj.mesaj, 150))</div>
            <div class="col-sm-2">@Html.Raw(msj.gonderen_ad + " " + msj.gonderen_soyad + "-" + msj.alan_ad + " " + msj.alan_soyad)</div>
            <div class="col-sm-2">@Html.Raw(msj.date.ToString("dd.MM.yyyy"))</div>
            <div class="col-sm-2">@Html.Raw(GorevYoneticisi.Tools.durumlar.getDurum(msj.flag))</div>
            <div class="col-sm-2" style="margin-top:-5px;">
                <a id="teklif-button" href="@Html.Raw(Url.Action("MesajimGoster", new { id = msj.url }))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a id="wrong-button" href="#" data-id="@Html.Raw(msj.url)"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
        </div>

    }
</div>

<script type="text/javascript">
    /*function sil(id) {
        $.ajax({
            url: "Url.Action("silProje")",
            data: { id: id },
            dataType: "json",
            type: "POST",
            success: function (data) {
                location.reload();
            }
        });
    }
    $(document).on("click", "#wrong-button", function (e) {
        e.preventDefault();
        sil($(this).data("id"));
    });*/
</script>




