@model List<object>
@{
    ViewBag.Title = "Proje";
    Layout = "~/Views/Shared/_LayoutIc.cshtml";

    GorevYoneticisi.Models.proje_surec proje = (GorevYoneticisi.Models.proje_surec)Model[0];
    //List<GorevYoneticisi.Models.musteriler> musteriList = (List<GorevYoneticisi.Models.musteriler>)Model[1];
    List<GorevYoneticisi.Models.musteriler> musteriList = null;
    if (Model[1] != null)
    {
        musteriList = (List<GorevYoneticisi.Models.musteriler>)Model[1];
    }
    List<GorevYoneticisi.Models.kullanicilar> kullaniciList = null;
    if (Model[2] != null)
    {
        kullaniciList = (List<GorevYoneticisi.Models.kullanicilar>)Model[2];
    }

    GorevYoneticisi.Models.LoggedUserModel lgm = GorevYoneticisi.Tools.GetCurrentUser.GetUser();
    string isDisabled = "";
    string isHidden = "";
    if (GorevYoneticisi.Tools.KullaniciTurleri.user <= lgm.kullanici_turu || (proje.durum == GorevYoneticisi.Tools.TamamlamaDurumlari.tamamlandi || proje.durum == GorevYoneticisi.Tools.TamamlamaDurumlari.pasif))
    {
        isDisabled = "disabled";
        isHidden = "hidden";
    }
    List<GorevYoneticisi.Models.GorevVeProjeOzetModel> gorevList = (List<GorevYoneticisi.Models.GorevVeProjeOzetModel>)Model[3];

    List<GorevYoneticisi.Models.proje_surec_sablon> surecList = (List<GorevYoneticisi.Models.proje_surec_sablon>)Model[4];

    string tempGuid = ViewBag.tempGuid;

    DateTime now = DateTime.Now;
    DateTime bitisTarihi = now.AddMonths(1);
}
<div class="top clearfix">
    <i class="fa fa-briefcase" aria-hidden="true"></i>
    <h2>Proje</h2>
    @if (isDisabled.Equals("disabled") && GorevYoneticisi.Tools.KullaniciTurleri.user > lgm.kullanici_turu)
    {
        <a id="teklif-button" data-toggle="tooltip" title="Projeyi Aktif Et" href="#" onclick="projeyiAktiflestir(@Html.Raw("'" + proje.url + "'"))">Projeyi Aktif Et</a>
    }
</div>
@if (proje.id == 0)
{
    <select id="sablonlar" name="sablonlar">
        <option >Şablonlar</option>
        @foreach (GorevYoneticisi.Models.proje_surec_sablon sablon in surecList)
        {
            <option value="@sablon.id">@Html.Raw(sablon.sablon_ismi)</option>
        }
    </select>
}
<form class="form-default" id="_form">
    <div class="clearfix">
        <input id="tempGuid" name="tempGuid" type="hidden" value="@Html.Raw(tempGuid)" />
        <input id="url" name="url" type="hidden" value="@proje.url" />
        <div class="row clearfix">
            <div class="item col-sm-6" style="margin:0 0 25px;">
                <div class="lbl">Proje İsmi</div>
                <input type="text" name="isim" placeholder="Proje İsmi" value="@Html.Raw(proje.isim)" required @Html.Raw(isDisabled) />
            </div>
        </div>
        <div class="row clearfix">
            <div class="item col-sm-6" style="margin:0 0 25px;">
                <div class="lbl">Başlangıç Tarihi</div>
                <input type="date" name="baslangic_tarihi" placeholder="Başlangıç Tarihi" value="@Html.Raw(proje.baslangic_tarihi.ToString("yyyy-MM-dd"))" required @Html.Raw(isDisabled) />
            </div>
            <div class="item col-sm-6" style="margin:0 0 25px;">
                <div class="lbl">Bitiş Tarihi</div>
                <input type="date" name="bitis_tarihi" placeholder="Bitiş Tarihi" value="@Html.Raw(proje.bitis_tarihi.ToString("yyyy-MM-dd"))" required @Html.Raw(isDisabled) />
            </div>
        </div>

        <div class="item">
            <div class="lbl">Yüzde</div><br />
            <span class="yuzde"><span class="bar" style="width: @Html.Raw(proje.yuzde+"%;")"></span><span class="yuzde-yazi">@Html.Raw("% " + proje.yuzde)</span></span>
        </div>
        <div class="item">
            <div class="lbl">Açıklama</div>
            <textarea name="aciklama" placeholder="Açıklama" @Html.Raw(isDisabled)>@Html.Raw(proje.aciklama)</textarea>
        </div>
    </div>
    <div class="item" style="text-align:right;" @Html.Raw(isHidden)>
        <button class="btn-first">KAYDET</button>
    </div>
</form>

<div class="clearfix row">
    <div class="col-md-6">
        <div class="item-list">
            @if (!isHidden.Equals("hidden"))
            {
                <div class="top">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <h2>Kullanıcılar</h2>
                </div>
                <form class="form-default2" id="kullanici_form">
                    <div class="clearfix">
                        <input id="tempGuid" name="tempGuid" type="hidden" value="@Html.Raw(tempGuid)" />
                        <input id="proje_id" name="proje_id" type="hidden" value="@proje.id">
                        <div class="item">
                            <select name="kullanici_id" required>
                                <option value="">Kullanıcılar</option>
                                @foreach (GorevYoneticisi.Models.kullanicilar usr in kullaniciList)
                                {
                                    <option value="@usr.id">@Html.Raw(usr.ad + " " + usr.soyad)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="item" style="text-align:right;">
                        <button class="btn-first">EKLE</button>
                    </div>
                </form>
            }
            <div class="top">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <h2>Projeye Eklenmiş Kullanıcılar</h2>
            </div>
            <div id="kullaniciList">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="item-list">
            @if (!isHidden.Equals("hidden"))
            {
                <div class="top">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h2>Müşteriler</h2>
                </div>
                <form class="form-default2" id="musteri_form">
                    <div class="clearfix">
                        <input id="tempGuid" name="tempGuid" type="hidden" value="@Html.Raw(tempGuid)" />
                        <input id="gorev_id" name="gorev_id" type="hidden">
                        <input id="proje_id" name="proje_id" type="hidden" value="@Html.Raw(proje.id)">
                        <div id="projeMusterileri" class="musteri-list" style="height:120px; overflow:auto;">
                            @foreach (GorevYoneticisi.Models.musteriler mstr in musteriList)
                            {
                                <div class="item">
                                    <input type="checkbox" name="musteriList[]" value="@mstr.id" style="display:inline;width: auto;">@Html.Raw(mstr.firma_adi)
                                </div>
                            }
                        </div>
                        <div class="item" style="display:none;">
                            <input type="text" name="kullanici_id" value="">
                        </div>
                    </div>
                    <div class="item" style="text-align:right;">
                        <button class="btn-first">EKLE</button>
                    </div>
                </form>
            }
            <div class="top">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <h2>Projeye Eklenmiş Müşteriler</h2>
            </div>
            <div class="list-padding">
                <div id="musteriList">

                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-md-6">
        <div class="item-list">
            if (!isHidden.Equals("hidden"))
            {
                <div class="top">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h2>Müşteriler</h2>
                </div>
                <form class="form-default2" id="musteri_form">
                    <div class="clearfix">
                        <input id="tempGuid" name="tempGuid" type="hidden" value="Html.Raw(tempGuid)" />
                        <input id="proje_id" name="proje_id" type="hidden" value="proje.id">
                        <div class="item">
                            <select name="musteri_id" required>
                                <option value="">Müşteriler</option>
                                foreach (GorevYoneticisi.Models.musteriler mstr in musteriList)
                                {
                                    <option value="mstr.id">Html.Raw(mstr.firma_adi)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="item" style="text-align:right;">
                        <button class="btn-first">EKLE</button>
                    </div>
                </form>
            }
            <div class="top">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <h2>Projeye Eklenmiş Müşteriler</h2>
            </div>
            <div>
                <div id="musteriList">

                </div>
            </div>
        </div>
    </div>-->
</div>

<div class="top">
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    <h2>Proje Görevleri</h2>
</div>
<div class="ilan-list">
    @if (tempGuid != null && !tempGuid.Equals(string.Empty))
    {
        <a id="yeni-uye" href="#" onclick="yeniGorev()" data-toggle="tooltip" title="Yeni Görev Ekle" html.raw(ishidden)>+</a>
    }
    else
    {
        <a id="yeni-uye" href="@Url.Action("Gorev")" data-toggle="tooltip" title="Yeni Görev Ekle" html.raw(ishidden)>+</a>
    }
    <div class="head clearfix">
        <h4 class="col-sm-3 col-xs-4">GÖREV İSMİ</h4>
        <h4 class="col-sm-2 col-xs-5">TAMAMLANMA YÜZDESİ</h4>
        <h4 class="col-sm-2 hidden-xs">BAŞLANGIÇ TARİHİ</h4>
        <h4 class="col-sm-2 hidden-xs">BİTİŞ TARİHİ</h4>
        <h4 class="col-sm-1 hidden-xs">DURUM</h4>
        <h4 class="col-sm-2 col-xs-3"></h4>
    </div>
    <div id="gorevListDiv">
        @foreach (GorevYoneticisi.Models.GorevVeProjeOzetModel grv in gorevList)
        {
            <div class="satir clearfix">
                <div class="col-sm-3 col-xs-4">@Html.Raw(grv.gorev_ismi)</div>
                <div class="col-sm-2 col-xs-5"><span class="yuzde"><span class="bar" style="width: @Html.Raw(grv.yuzde + "%;")"></span><span class="yuzde-yazi">@Html.Raw("% " + grv.yuzde)</span></span></div>
                <div class="col-sm-2 hidden-xs">@Html.Raw(grv.baslangic_tarihi.ToString("dd.MM.yyyy"))</div>
                <div class="col-sm-2 hidden-xs">@Html.Raw(grv.bitis_tarihi.ToString("dd.MM.yyyy"))</div>
                <div class="col-sm-1 hidden-xs">@Html.Raw(GorevYoneticisi.Tools.TamamlamaDurumlari.getTamamlamaDurum(grv.durum))</div>
                <div class="col-sm-2 col-xs-3" style="margin-top:-5px;">
                    <a id="teklif-button" href="@Html.Raw(Url.Action("Gorev", new { id = grv.url }))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    @if (grv.durum != GorevYoneticisi.Tools.TamamlamaDurumlari.pasif && grv.durum != GorevYoneticisi.Tools.TamamlamaDurumlari.pasif && grv.durum != GorevYoneticisi.Tools.TamamlamaDurumlari.tamamlandi && lgm.kullanici_turu <= GorevYoneticisi.Tools.KullaniciTurleri.firma_yetkili)
                    {
                        <a id="wrong-button" href="#" data-id="@Html.Raw(grv.url)"><i class="fa fa-times" aria-hidden="true"></i></a>
                    }
                    @if (grv.durum != GorevYoneticisi.Tools.TamamlamaDurumlari.pasif && grv.durum != GorevYoneticisi.Tools.TamamlamaDurumlari.pasif && grv.durum != GorevYoneticisi.Tools.TamamlamaDurumlari.tamamlandi && grv.yuzde == 100 && lgm.kullanici_turu <= GorevYoneticisi.Tools.KullaniciTurleri.firma_yetkili)
                    {
                        <a id="teklif-button" data-toggle="tooltip" title="Görev Tamamlandı" href="#" onclick="tamamlandiGorev('@Html.Raw(grv.url)')"><i class="fa fa-check" aria-hidden="true"></i></a>
                    }
                </div>
            </div>

        }
    </div>
</div>
<div id="gorevDiv" style="display:none;">
    <div class="top">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        <h2>Görev</h2>
    </div>
    <form class="form-default" id="_form_gorev">
        <div class="clearfix">
            <input id="tempGuid" name="tempGuid" type="hidden" value="@Html.Raw(tempGuid)" />
            <input id="url" name="url" type="hidden">
            <input id="id" name="id" type="hidden">
            <div class="row clearfix">
                <input type="hidden" name="proje_id" required @Html.Raw(isDisabled) />
                <div class="item col-sm-6" style="margin:0 0 25px;">
                    <div class="lbl">İsim</div>
                    <input type="text" id="isim" name="isim" placeholder="Görev İsmi" required @Html.Raw(isDisabled) />
                </div>
            </div>
            <div class="row clearfix">
                <div class="item col-sm-6" style="margin:0 0 25px;">
                    <div class="lbl">Başlama Tarihi</div>
                    <input type="date" id="baslangic_tarihi" name="baslangic_tarihi" placeholder="Başlangıç Tarihi" value="@Html.Raw(now.ToString("yyyy-MM-dd"))" required @Html.Raw(isDisabled) />
                </div>
                <div class="item col-sm-6" style="margin:0 0 25px;">
                    <div class="lbl">Bitiş Tarihi</div>
                    <input type="date" id="bitis_tarihi" name="bitis_tarihi" placeholder="Bitiş Tarihi" value="@Html.Raw(bitisTarihi.ToString("yyyy-MM-dd"))" required @Html.Raw(isDisabled) />
                </div>
            </div>
            <div class="item">
                <div class="lbl">Tamamlanma Yüzdesi</div><br />
                <span class="yuzde" style="padding: 10px;"><span id="yuzdeGrafik" class="bar" style="width: 0%;"></span><span class="yuzde-yazi" id="yuzdeYazi">% 0</span></span>
            </div>
            <div class="item">
                <div class="lbl">Açıklama</div>
                <textarea id="aciklama" name="aciklama" placeholder="Açıklama" @Html.Raw(isDisabled)></textarea>
            </div>
            <div class="item">
                <input type="checkbox" id="gorev_multiply" name="gorev_multiply" value="Görevi Kopyala" style="display:inline;width:40px;" />Bu görevi her kullanıcı için kopyala
            </div>
        </div>
        <div class="item" style="text-align:right;" @Html.Raw(isHidden)>
            <button class="btn-first">KAYDET</button>
        </div>
    </form>
    <div class="clearfix row">
        <div class="col-md-6">
            <div class="item-list">
                @if (!isHidden.Equals("hidden"))
                {
                    <div class="top">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <h2>Kullanıcılar</h2>
                    </div>
                    <form class="form-default2" id="kullanici_form_gorev">
                        <div class="clearfix">
                            <input id="tempGuid" name="tempGuid" type="hidden" value="@Html.Raw(tempGuid)" />
                            <input id="gorev_id" name="gorev_id" type="hidden">
                            <div class="item">
                                <select id="gorev_kullanici_id" name="kullanici_id" required></select>
                            </div>
                        </div>
                        <div class="item" style="text-align:right;">
                            <button class="btn-first">EKLE</button>
                        </div>
                    </form>
                }
                <div class="top">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <h2>Göreve Eklenmiş Kullanıcılar</h2>
                </div>
                <div class="list-padding">
                    <div id="kullaniciList_gorev">

                    </div>
                </div>
            </div>
            <div class="item-list">
                @if (!isHidden.Equals("hidden"))
                {
                    <div class="top">
                        <i class="fa fa-list-ol" aria-hidden="true"></i>
                        <h2>Yapılacaklar</h2>
                    </div>
                    <form class="form-default2" id="yapilacak_form">
                        <div class="clearfix">
                            <input id="tempGuid" name="tempGuid" type="hidden" value="@Html.Raw(tempGuid)" />
                            <input id="gorev_id" name="gorev_id" type="hidden">
                            <div class="item">
                                <input type="text" name="isim" placeholder="Yapılacak İsmi" value="" required />
                            </div>
                            <div class="item" hidden>
                                <textarea name="aciklama" placeholder="Açıklama"></textarea>
                            </div>
                        </div>
                        <div class="item" style="text-align:right;">
                            <button class="btn-first">EKLE</button>
                        </div>
                    </form>
                }
                <div class="top">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <h2>Yapılacak Listesi</h2>
                </div>
                <div class="list-padding">
                    <div id="yapilacakList" class="clearfix">

                    </div>
                </div>
            </div>
            <div class="item-list">
                @if (!isHidden.Equals("hidden"))
                {
                    <div class="top">
                        <i class="fa fa-file" aria-hidden="true"></i>
                        <h2>Dosyalar</h2>
                    </div>
                    <form class="form-default2" id="dosya_form">
                        <input id="tempGuid" name="tempGuid" type="hidden" value="@Html.Raw(tempGuid)" />
                        <input id="gorev_id" name="gorev_id" type="hidden">
                        <div class="item col-sm-6" style="margin:0 0 25px;">
                            <div class="lbl">İsim</div>
                            <input type="text" name="isim" placeholder="Dosya İsmi" required />
                        </div>
                        <div class="inp">
                            <input type="file" name="fileUpload" id="fileUpload" style="width: 100%;" required>
                        </div>
                        <div class="item" style="text-align:right;">
                            <button class="btn-first">EKLE</button>
                        </div>
                    </form>
                }
                <div class="list-padding">
                    <div class="top">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <h2>Dosya Listesi</h2>
                    </div>
                    <div id="dosyaList">

                    </div>
                </div>
            </div>
            <div class="item-list">
                @if (!isHidden.Equals("hidden"))
                {
                    <div class="top">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <h2>Görev Bağlantıları(Eklediğiniz görevlerden herhangi biri bittikten sonra bu görev başlayacak)</h2>
                    </div>
                    <form class="form-default2" id="gorev_baglanti_form">
                        <div class="clearfix">
                            <input id="tempGuid" name="tempGuid" type="hidden" value="@tempGuid">
                            <input id="gorev_id" name="gorev_id" type="hidden">
                            <div class="item">
                                <select id="bagli_gorev" name="bagli_gorev" required>
                                    <option value="">Görev Seç</option>
                                </select>
                            </div>
                        </div>
                        <div class="item" style="text-align:right;">
                            <button class="btn-first">EKLE</button>
                        </div>
                    </form>
                }
                <div class="top">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <h2>Bağlantılı Görevler</h2>
                </div>
                <div class="list-padding">
                    <div id="gorevBaglantiList">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-list">
                @if (!isHidden.Equals("hidden"))
                {
                    <div class="top">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h2>Müşteriler</h2>
                    </div>
                    <form class="form-default2" id="musteri_form_gorev">
                        <div class="clearfix">
                            <input id="tempGuid" name="tempGuid" type="hidden" value="@Html.Raw(tempGuid)" />
                            <input id="gorev_id" name="gorev_id" type="hidden">
                            <div id="gorev_musteri_list" class="musteri-list" style="max-height:802px; overflow:auto;">
                            </div>
                            <div class="item">
                                <select id="gorev_musteri_kullanici_id" name="kullanici_id" required>
                                    <option value="">Kullanıcılar</option>
                                </select>
                            </div>
                        </div>
                        <div class="item" style="text-align:right;">
                            <button class="btn-first">EKLE</button>
                        </div>
                    </form>
                }
                <div class="top">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <h2>Göreve Eklenmiş Müşteriler</h2>
                </div>
                <div class="list-padding">
                    <div id="musteriList_gorev">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>

<script type="text/javascript">
    function tamamlandiGorev(id) {
        $.ajax({
            url: "@Url.Action("gorevTamamlandi")",
            data: { id: id },
        dataType: "json",
        type: "POST",
        success: function (data) {
            location.reload();
        }
    });
    }
    //görev fonksiyonları
    $(function () {
        //proje işlemleri
        $('#_form').validate({
            rules: {
                email: { email: true }
            },
            submitHandler: function (form) {
                form_send($(form));
            }
        });
        @if (kullaniciList != null)
        {
            <text>
        $('#kullanici_form').validate({
            rules: {
            },
            submitHandler: function (form) {
                add_user($(form));
            }
        });
        $('#musteri_form').validate({
            rules: {
            },
            submitHandler: function (form) {
                add_musteri($(form));
            }
        });
        $('#gorev_baglanti_form').validate({
            rules: {
            },
            submitHandler: function (form) {
                add_gorev_baglanti($(form));
            }
        });
        </text>
        }
        kullanicilariGetir();
        musterileriGetir();
        $('#_form_gorev').validate({
            rules: {
                email: { email: true }
            },
            submitHandler: function (form) {
                form_send_gorev($(form));
            }
        });
        @if (kullaniciList != null)
        {
            <text>
        $('#kullanici_form_gorev').validate({
            rules: {
            },
            submitHandler: function (form) {
                add_user_gorev($(form));
            }
        });
        $('#musteri_form_gorev').validate({
            rules: {
            },
            submitHandler: function (form) {
                add_musteri_gorev($(form));
            }
        });
        </text>
        }
        $('#yapilacak_form').validate({
            rules: {
            },
            submitHandler: function (form) {
                add_yapilacak($(form));
            }
        });

        $('#sablonlar').change(function () {
            var id = $($('#sablonlar option:selected')[0]).attr("value");
            sablonSec(id);
        });
    });
    function sablonSec(id) {
        console.log(id);
         $.ajax({
            url: "@Url.Action("sablonSec")",
            data: { id: id, tempGuid:'@Html.Raw(tempGuid)' },
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
            }
        });
    }
    function gorevGoster()
    {
        //$("#gorevDiv").css({ 'display': "block" });
        $("#gorevDiv").show(300);
    }
    function gorevSakla()
    {
        //$("#gorevDiv").css({ 'display': "none" });
        $("#gorevDiv").hide(400);
    }
    function yeniGorev()
    {
        setTempGorevId(0);
        $('#_form_gorev #url').val(0);
        $('#_form_gorev #id').val(0);
        $('#_form_gorev #isim').val('');
        $('#_form_gorev #aciklama').val('');
        $('#_form_gorev #gorev_multiply').prop("checked", false);
        gorevGoster();
    }
    function setTempGorevId(id)
    {
        @if(tempGuid != null && !tempGuid.Equals(string.Empty))
        {
            <text>
            var eskiId = $('#_form_gorev #gorev_id').val();
            $('#_form_gorev #id').val(id);
            $('#_form_gorev #url').val(id);
            $('#musteri_form_gorev #gorev_id').val(id);
            $('#gorev_baglanti_form #gorev_id').val(id);
            $('#kullanici_form_gorev #gorev_id').val(id);
            $('#yapilacak_form #gorev_id').val(id);
            $('#dosya_form #gorev_id').val(id);

            if(eskiId != id)
            {
                //tüm alanları güncelle
                //tempGorevleriGetir(id);
                yapilacaklariGetir();
                kullanicilariGetir_gorev();
                projeGorevleriniGetir();
                dosyalariGetir();
            }
            </text>
        }
    }
    function form_send_gorev(form) {
        gorevSakla();
        loadingAc();
        $.post('@Url.Action("GorevDuzenle")', form.serialize(), function (data) {
            loadingKapat();
            if (data.IsSuccess == true) {
                $('#_form_gorev')[0].reset();
                alert(data.Message);
                setTempGorevId(0);
                tempGorevleriGetir(data.Message);
            }
            else {
                alert(data.Message);
            }
        });
    }
    function tempGorevleriGetir(gorev_id) {
        $.post('@Url.Action("tempGorevleriGetir")', {tempGuid : @Html.Raw("'" + tempGuid + "'"), gorevId : gorev_id}, function (data) {
            if (data.IsSuccess == true) {
                /*("#gorevListDiv").html("");
                $.each(data.Message, function () {
                    $("#kullaniciList").append('<div class="removable-item">' + this.ad + ' ' + this.soyad + '<a href="#" class="times" onclick="silKullanici_gorev(' + this.id + ')"><i class="fa fa-times" aria-hidden="true"></i></a></div>');
                });*/
                $("#gorevListDiv").html("");
                $.each(data.Message, function () {
                    /*$("#kullaniciList").append('<div class="removable-item">' + this.ad + ' ' + this.soyad + '<a href="#" class="times" onclick="silKullanici_gorev(' + this.id + ')"><i class="fa fa-times" aria-hidden="true"></i></a></div>');*/


                    var eklenecekStr = '<div class="satir clearfix">'
                    + '<div class="col-sm-3 col-xs-4">' + this.isim + '</div>'
                    + '<div class="col-sm-2 col-xs-5"><span class="yuzde"><span class="bar" style="width:' + this.yuzde + ' %;"></span><span class="yuzde-yazi">%' + this.yuzde + '</span></span></div>'
                    + '<div class="col-sm-2 hidden-xs">' + jsonDateToDate(this.baslangic_tarihi) + '</div>'
                    + '<div class="col-sm-2 hidden-xs">' + jsonDateToDate(this.bitis_tarihi) + '</div>'
                    + '<div class="col-sm-1 hidden-xs">' + getTamamlanmaDurumText(this.durum)+ '</div>'
                    + '<div class="col-sm-2 col-xs-3" style="margin-top:-5px;">'
                    @if(proje.id == 0)
                    {
                        <text>
                    eklenecekStr += '<a id="teklif-button" href="#" onclick="gorevGetir(' + this.id + ')"><i class="fa fa-pencil" aria-hidden="true"></i></a>';
                    </text>
                    }
                    else
                    {
                        <text>
                    eklenecekStr += '<a id="teklif-button" href="' + @Html.Raw("'" + Url.Action("Gorev") + "'") + '/' + this.url + '"><i class="fa fa-pencil" aria-hidden="true"></i></a>';
                    </text>
                    }
                    if (this.durum != @GorevYoneticisi.Tools.TamamlamaDurumlari.pasif && this.durum != @GorevYoneticisi.Tools.TamamlamaDurumlari.pasif && this.durum != @GorevYoneticisi.Tools.TamamlamaDurumlari.tamamlandi && @lgm.kullanici_turu <= @GorevYoneticisi.Tools.KullaniciTurleri.firma_yetkili && 1 == 1)
                    {
                        eklenecekStr += '<a id="wrong-button" href="#" data-id="' + this.url + '"><i class="fa fa-times" aria-hidden="true"></i></a>';
                    }
                    if (this.durum != @GorevYoneticisi.Tools.TamamlamaDurumlari.pasif && this.durum != @GorevYoneticisi.Tools.TamamlamaDurumlari.pasif && this.durum != @GorevYoneticisi.Tools.TamamlamaDurumlari.tamamlandi && this.yuzde == 100 && @lgm.kullanici_turu <= @GorevYoneticisi.Tools.KullaniciTurleri.firma_yetkili && 1 == 1)
                    {
                        eklenecekStr += '<a id="teklif-button" data-toggle="tooltip" title="Görev Tamamlandı" href="#" onclick="tamamlandiGorev(\'' + this.url + ')"><i class="fa fa-check" aria-hidden="true"></i></a>';
                    }
                    eklenecekStr += '</div>';
                    eklenecekStr += '</div>';
                    $("#gorevListDiv").append(eklenecekStr);
                });
            }
            else {
                alert(data.Message);
            }
        });
    }
    function gorevGetir(id)
    {
        $.post('@Url.Action("tempGorevGetir")', {gorevId : id, tempGuid:@Html.Raw("'" + tempGuid + "'")},
            function (data) {
                if (data.IsSuccess == true) {
                    gorevGoster();
                    setTempGorevId(id);
                    var obj = data.Message;
                    $('#_form_gorev #url').val(obj.url);
                    $('#_form_gorev #id').val(obj.id);
                    $('#_form_gorev #isim').val(obj.isim);
                    $('#_form_gorev #baslangic_tarihi').val(jsonDateToDateForInputDate(obj.baslangic_tarihi));
                    $('#_form_gorev #bitis_tarihi').val(jsonDateToDateForInputDate(obj.bitis_tarihi));
                    $('#_form_gorev #aciklama').val(obj.aciklama);
                    $('#_form_gorev #gorev_multiply').prop("checked", false);
                    if(obj.gorev_multiply == 1)
                    {
                        $('#_form_gorev #gorev_multiply').prop("checked", true);
                    }
                }
                else {
                    alert(data.Message);
                }
            });
    }

    function yapilacaklariGetir() {
        var gorev_id = $('#yapilacak_form #gorev_id').val();
        $.post('@Url.Action("yapilacaklarList")', {gorev_url : gorev_id, tempGuid:@Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess == true) {
                $("#yapilacakList").html("");
                $.each(data.Message, function () {
                    var durum = "";
                    if(this.durum == 2)
                    {
                        durum = "checked";
                    }
                    $("#yapilacakList").append('<div class="col-md-6"><div class="do-list"><input type="checkbox" name="yapilacak" value="asd" style="display:none;" onchange="yapilacakIsaretle(\'' + this.url + '\', this)" ' + durum + '><span>' + this.isim + '</span><a href="#" onclick="silYapilacak(\'' + this.url + '\')" class="times" @Html.Raw(isHidden.Equals("hidden") ? "style=\"visibility:hidden;\"" : "")><i class="fa fa-times" aria-hidden="true"></i></a></div></div>');
                });
            }
            else {
                alert(data.Message);
            }
        });
    }
    function add_yapilacak(form) {
        $.post('@Url.Action("YapilacakDuzenle")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                setTempGorevId(data.Message);
                $('#yapilacak_form')[0].reset();
                yapilacaklariGetir();
            }
            else {
                alert(data.Message);
            }
        });
    }
    function silYapilacak(id) {
        $.post('@Url.Action("silYapilacak")', {id : id, tempGuid:@Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess == true) {
                yapilacaklariGetir();
                //loglariGetir();
            }
            else {
                alert(data.Message);
            }
        });
    }
    @if (lgm.kullanici_turu <= GorevYoneticisi.Tools.KullaniciTurleri.firma_yetkili)
    {
        <text>
    function add_user_gorev(form) {
        $.post('@Url.Action("gorevKullanicisiEkle")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                alert("Kullanıcı Eklendi.");
                setTempGorevId(data.Message)
                kullanicilariGetir_gorev();
            }
            else {
                alert(data.Message);
            }
        });
    }
    function silKullanici_gorev(id) {
        $.post('@Url.Action("gorevKullanicisiSil")', {id : id, tempGuid:@Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess == true) {
                alert("Kullanıcı Silindi.");
                kullanicilariGetir_gorev();
            }
            else {
                alert(data.Message);
            }
        });
    }
    </text>
    }
    function musteriPaylasimi_gorev(drp, gorev_id, kaynak_kullanici) {
        var hedefkullanici = $(drp).val();
        $.post('@Url.Action("gorevMusteriPaylasimi")', {gorevid : gorev_id, hedefkullanici : hedefkullanici, kaynak_kullanici : kaynak_kullanici, tempGuid : @Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess != true) {
                alert(data.Message);
            }
        });
    }
    function musterileriGetir_gorev() {
        var gorev_id = $('#musteri_form_gorev #gorev_id').val();
        $.post('@Url.Action("tempGorevMusterileriGetir")', {tempGuid : '@Html.Raw(tempGuid)', gorevId : gorev_id}, function (data) {
            if (data.IsSuccess == true) {
                $("#musteriList_gorev").html("");
                var obj = jQuery.parseJSON(kullaniciStr);
                $.each(data.Message, function () {
                    var kStr = "";
                    var dataThs = this;
                    var ifSelected = "";
                    $.each(obj, function () {
                        if (this.url == dataThs.kullaniciUrl) {
                            ifSelected = " selected";
                        }
                        kStr += "<option value='" + this.url + "' " + ifSelected + ">" + this.isim + "</option>";
                        ifSelected = "";
                    });

                    $("#musteriList_gorev").append('<a href="#" data-user-id="'+this.kullaniciId+'" onclick="musterileriIsaretleGorev(\'[' + this.musteriIdList + ']\', ' + this.kullaniciId + ')"><div class="removable-item">' + this.musteriIdList.length + ' Firma <select onchange="musteriPaylasimi_gorev(this, ' + gorev_id + ', \'' + this.kullaniciUrl + '\')">' + kStr + '</select><a href="#" class="times" onclick="silMusteri_gorev(\'' + this.kullaniciUrl + '\')"><i class="fa fa-times" aria-hidden="true"></i></a></div></a>');
                });
            }
            else {
                alert(data.Message);
            }
        });
    }
    /////////////////////////////
    function musterileriIsaretleGorev(musteriIdList, kullaniciId)
    {
        $(".removable-item a").removeClass("clicked-personnel");
        $($('a[data-user-id="'+kullaniciId+'"]')[1]).addClass("clicked-personnel");
        var obj = JSON.parse(musteriIdList);
        var bulundu = false;
        for(i = 0; i < $('#gorev_musteri_list').children(0).length; i++){
            bulundu = false;
            for(j = 0; j < obj.length; j++)
            {
                if(obj[j] == $($('#gorev_musteri_list').children(0).get(i)).children(0).get(0).value){
                    $($('#gorev_musteri_list').children(0).get(i)).children(0).get(0).checked = true;
                    bulundu = true;
                }
            }
            if(!bulundu)
            {
                $($('#gorev_musteri_list').children(0).get(i)).children(0).get(0).checked = false;
            }
        }
        for(k = 0; k < $('#gorev_musteri_kullanici_id').children(0).length; k++)
        {
            if(kullaniciId == $('#gorev_musteri_kullanici_id').children(0).get(k).value)
            {
                $('#gorev_musteri_kullanici_id').children(0).get(k).selected = true;
            }
            else {
                $('#gorev_musteri_kullanici_id').children(0).get(k).selected = false;
            }
        }
    }
    @if (lgm.kullanici_turu <= GorevYoneticisi.Tools.KullaniciTurleri.firma_yetkili && musteriList != null)
    {
        <text>
    function add_musteri_gorev(form) {
        $.post('@Url.Action("gorevMusterisiEkle")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                alert(data.Message);
                $("#musteri_form_gorev")[0].reset();
                setTempGorevId(data.Message)
                musterileriGetir_gorev();
            }
            else {
                alert(data.Message);
            }
        });
    }
    function silMusteri_gorev(url) {
        var gorev_id = $('#musteri_form_gorev #gorev_id').val();
        $.post('@Url.Action("gorevMusterisiSil")', {url : url, gorev_url : gorev_id, tempGuid:'@Html.Raw(tempGuid)'}, function (data) {
            if (data.IsSuccess == true) {
                alert("Müşteri Silindi.");
                musterileriGetir_gorev();
            }
            else {
                alert(data.Message);
            }
        });
    }
    </text>
    }
    $("#dosya_form").submit(function () {
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: '@Url.Action("gorevDosyasiEkle")',
            type: 'POST',
            data: formData,
            async: false,
            success: function (data) {
                if (data.IsSuccess == false) {
                    alert(data.Message);
                }
                else if (data.IsSuccess == true) {
                    setTempGorevId(data.Message);
                    dosyalariGetir();
                    $("#dosya_form")[0].reset();
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
        return false;
    });
    function silDosya(id) {
        $.post('@Url.Action("gorevDosyasiSil")', {id : id, tempGuid:'@Html.Raw(tempGuid)'}, function (data) {
            if (data.IsSuccess == true) {
                alert("Dosya Silindi.");
                dosyalariGetir();
            }
            else {
                alert(data.Message);
            }
        });
    }
    function dosyalariGetir() {
        var gorev_id = $('#dosya_form #gorev_id').val();
        $.post('@Url.Action("gorevDosyalariGetir")', {id : gorev_id, tempGuid : @Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess == true) {
                $("#dosyaList").html("");
                $.each(data.Message, function () {
                    $("#dosyaList").append('<div class="removable-item"><a href="@Html.Raw(GorevYoneticisi.Tools.config.url + "public/upload/dosyalar/temp/")' + this.url + '" target="_blank">' + this.isim + '</a><a href="#" onclick="silDosya(' + this.id + ')" class="times" @Html.Raw(isHidden.Equals("hidden") ? "style=\"visibility:hidden;\"" : "")><i class="fa fa-times" aria-hidden="true"></i></a></div>');
                });
            }
            else {
                alert(data.Message);
            }
        });
    }

    function projeyiAktiflestir(id) {
        $.ajax({
            url: "@Url.Action("projeSurecAktiflestir")",
            data: { id: id },
            dataType: "json",
            type: "POST",
            success: function (data) {
                location.reload();
            }
        });
    }
    function tamamlandi(id) {
        $.ajax({
            url: "@Url.Action("gorevTamamlandi")",
            data: { id: id },
            dataType: "json",
            type: "POST",
            success: function (data) {
                location.reload();
            }
        });
    }
    function sil(id) {
        $.ajax({
            url: "@Url.Action("silGorev")",
            data: { id: id, tempGuid:'@Html.Raw(tempGuid)' },
            dataType: "json",
            type: "POST",
            success: function (data) {
                @if (tempGuid != null && !tempGuid.Equals(string.Empty))
                {
                    <text>
                var gorev_id = $('#_form_gorev #id').val();
                tempGorevleriGetir(gorev_id);
                projeGorevleriniGetir();
                </text>
                }
                else{
                    <text>
                location.reload();
                </text>
                }
            }
        });
    }
    $(document).on("click", "#wrong-button", function (e) {
        e.preventDefault();
        sil($(this).data("id"));
    });

    function form_send(form) {
        loadingAc();
        $.post('@Url.Action("ProjeDuzenle")', form.serialize(), function (data) {
            loadingKapat();
            if (data.IsSuccess == true) {
                alert("Proje Kaydedildi.");
                var uurl = $('#url').val();
                @if (tempGuid != null && !tempGuid.Equals(string.Empty))
	            {
		            <text>
                window.location.replace("@Url.Action("Proje")" + "/" + data.Message);
                </text>
	            }

            }
            else {
                alert(data.Message);
            }
        });
    }
    @if (kullaniciList != null)
    {
        <text>
    function add_user(form) {
        $.post('@Url.Action("projeSurecKullanicisiEkle")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                alert("Kullanıcı Eklendi.");
                kullanicilariGetir();
                $("#kullanici_form")[0].reset();
            }
            else {
                alert(data.Message);
            }
        });
    }
    function silKullanici(id) {
        $.post('@Url.Action("projeSurecKullanicisiSil")', {id : id, tempGuid:'@Html.Raw(tempGuid)'}, function (data) {
            if (data.IsSuccess == true) {
                alert("Kullanıcı Silindi.");
                kullanicilariGetir();
            }
            else {
                alert(data.Message);
            }
        });
    }
    </text>
    }

    @if (musteriList != null)
    {
        <text>
    function add_musteri(form) {
        $.post('@Url.Action("projeSurecMusterisiEkle")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                alert("Müşteri Eklendi.");
                musterileriGetir();
                $("#musteri_form")[0].reset();
            }
            else {
                alert(data.Message);
            }
        });
    }
    function silMusteri(id) {
        $.post('@Url.Action("projeSurecMusterisiSil")', {proje_id : id, tempGuid:'@Html.Raw(tempGuid)'}, function (data) {
            if (data.IsSuccess == true) {
                alert("Müşteri Silindi.");
                musterileriGetir();
            }
            else {
                alert(data.Message);
            }
        });
    }
    </text>
    }
    function musteriPaylasimi(drp, id) {
        var kullanici = $(drp).val();
        $.post('@Url.Action("projeSurecMusteriPaylasimi")', {id : id, kullanici:kullanici}, function (data) {
            if (data.IsSuccess != true) {
                alert(data.Message);
            }
        });
    }
    function musterileriGetir() {
        $.post('@Url.Action("projeSurecMusterileriGetir")', {id : @proje.id, tempGuid:@Html.Raw("'" + tempGuid + "' ")}, function (data) {
            if (data.IsSuccess == true) {
                $("#musteriList").html("");
                $("#gorev_musteri_list").html("");
                var musteriIdList = "[";
                var projeMusteriStr = "";
                if(data.Message.length > 0)
                {
                    for(i = 0; i < data.Message.length; i++)
                    {
                        if (i == data.Message.length - 1) {
                            musteriIdList += data.Message[i].musteri_id;
                        }
                        else{
                            musteriIdList += data.Message[i].musteri_id + ",";
                        }
                        projeMusteriStr += '<div class="item"><input type="checkbox" name="musteriList[]" value="' + data.Message[i].musteri_id + '" style="display:inline;width: auto;">' + data.Message[i].ad + '</div>';
                    }
                    musteriIdList += "]";
                    $("#musteriList").append('<a href="#" onclick="musterileriIsaretle(\'' + musteriIdList + '\')"><div class="removable-item">' + data.Message.length + ' Firma<a href="#" onclick="silMusteri(' + @Html.Raw(proje.id) + ')" class="times" @Html.Raw(isHidden)><i class="fa fa-times" aria-hidden="true"></i></a></div></a>');
                }
                $('#gorev_musteri_list').html(projeMusteriStr);
                musterileriIsaretle(musteriIdList);
            }
            else {
                alert(data.Message);
            }
        });
    }
    function musterileriIsaretle(musteriIdList)
    {
        var obj = JSON.parse(musteriIdList);
        console.log(obj);
        for(i = 0; i < $('#projeMusterileri').children(0).length; i++){
            for(j = 0; j < obj.length; j++)
            {
                if(obj[j] == $($('#projeMusterileri').children(0).get(i)).children(0).get(0).value){
                    $($('#projeMusterileri').children(0).get(i)).children(0).get(0).checked = true;
                }
            }
        }
    }
    function projeGorevleriniGetir()
    {
        var gorev_id = $('#gorev_baglanti_form #gorev_id').val();
        $.post('@Url.Action("projeGorevleriniGetir")', {id : 0, tempGuid : @Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess == true) {
                $("#bagli_gorev").html("");
                $("#bagli_gorev").append('<option value="">Görev Seçiniz</option>');
                for(i = 0; i < data.Message.length; i++)
                {
                    if(data.Message[i].id != gorev_id && 1 == 1)
                    {
                        $("#bagli_gorev").append('<option value="' + data.Message[i].id + '">' + data.Message[i].isim + '</option>');
                    }
                }
                gorevBaglantiGetir();
            }
            else {
                alert(data.Message);
            }
        });
    }

    function add_gorev_baglanti(form) {
        $.post('@Url.Action("gorevBaglantiEkle")', form.serialize(), function (data) {
            if (data.IsSuccess == true) {
                setTempGorevId(data.Message);
                gorevBaglantiGetir();
                $('#gorev_baglanti_form')[0].reset();
                alert("Görev bağlantısı eklendi.");
            }
            else {
                alert(data.Message);
            }
        });
    }
    function gorevBaglantiGetir() {
        var gorev_id = $('#gorev_baglanti_form #gorev_id').val();
        $.post('@Url.Action("gorevBaglantiGetir")', {id : gorev_id, tempGuid : @Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess == true) {
                $("#gorevBaglantiList").html("");
                $.each(data.Message, function () {
                    var size = $("#bagli_gorev option").size();
                    var isim = "";
                    for(i = 0; i < size; i++)
                    {
                        if($("#bagli_gorev option")[i].value == this.bagli_gorev)
                        {
                            isim = $("#bagli_gorev option")[i].text;
                        }
                    }
                    $("#gorevBaglantiList").append('<div class="removable-item">' + isim + ' <a href="#" class="times" onclick="silBaglanti(' + this.id + ')" @Html.Raw(isHidden)><i class="fa fa-times" aria-hidden="true"></i></a></div>');
                });
            }
            else {
                alert(data.Message);
            }
        });
    }
    function silBaglanti(id) {
        $.post('@Url.Action("gorevBaglantiSil")', {id : id, tempGuid : @Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess == true) {
                gorevBaglantiGetir();
                alert("Bağlantı Silindi.");
            }
            else {
                alert(data.Message);
            }
        });
    }
    function kullanicilariGetir() {
        $.post('@Url.Action("projeSurecKullanicilariGetir")', {id : @proje.id, tempGuid:@Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess == true) {

                $('#kullanici_id').html("");
                $("#kullaniciList").html("");

                var htmlText = "<option>Kullanıcılar</option>";
                $.each(data.Message, function () {
                    htmlText += "<option value='" + this.kullanici_id + "'>" + this.ad + " " + this.soyad + "</option>";
                    $("#kullaniciList").append('<div class="removable-item">' + this.ad + ' ' + this.soyad + '<a href="#" onclick="silKullanici(' + this.id + ')" class="times" @Html.Raw(isHidden)><i class="fa fa-times" aria-hidden="true"></i></a></div>');
                });
                $('#gorev_kullanici_id').html(htmlText);
            }
            else {
                alert(data.Message);
            }
        });
    }
    var kullaniciStr= "";
    function kullanicilariGetir_gorev() {
        var gorev_id = $('#kullanici_form_gorev #gorev_id').val();
        $.post('@Url.Action("gorevKullanicilariGetir")', {id : gorev_id, tempGuid : @Html.Raw("'" + tempGuid + "'")}, function (data) {
            if (data.IsSuccess == true) {
                var calistir = false;
                if(kullaniciStr == "")
                {
                    calistir = true;
                }
                kullaniciStr = '[{"url":"","isim":"İlgili Kullanıcı"}';
                $("#kullaniciList_gorev").html("");
                var htmlText = "<option>İlgili Kullanıcı</option>";
                $.each(data.Message, function () {
                    kullaniciStr += ',{"url":"' + this.url + '","isim":"' + this.ad + ' ' + this.soyad + '"}';
                    $("#kullaniciList_gorev").append('<div class="removable-item">' + this.ad + ' ' + this.soyad + '<a href="#" class="times" onclick="silKullanici_gorev(' + this.id + ')" @Html.Raw(isHidden)><i class="fa fa-times" aria-hidden="true"></i></a></div>');

                    htmlText += "<option value='" + this.kullanici_id + "'>" + this.ad + " " + this.soyad + "</option>";
                });
                kullaniciStr += ']';
                if(calistir)
                {
                    musterileriGetir();
                }
                $('#gorev_musteri_kullanici_id').html(htmlText);
                musterileriGetir_gorev();
            }
            else {
                alert(data.Message);
            }
        });
    }
</script>