@model List<GorevYoneticisi.Models.GorevVeProjeOzetModel>
@{
    ViewBag.Title = "Görevler";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="top">
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    <h2>Görevler</h2>
</div>

<div class="gorev-list">
    <div class="clearfix" style="margin:0 -15px;">
        @foreach (GorevYoneticisi.Models.GorevVeProjeOzetModel grv in Model)
        {
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="item">
                    <div class="img">
                        <i class="fa fa-@Html.Raw(GorevYoneticisi.Tools.ProjeSurecTur.getProjeSurecClass(grv.tur))" aria-hidden="true"></i>
                        <span>@Html.Raw(grv.tur != null ? GorevYoneticisi.Tools.ProjeSurecTur.getProjeSurecString((int)grv.tur) : "")</span>
                    </div>
                    <div class="part"><span class="baslik">Görev</span><span class="yazi">@Html.Raw(grv.gorev_ismi)</span></div>
                    <div class="part"><span class="baslik">Proje Süreç İsmi</span><span class="yazi">@Html.Raw(grv.proje_ismi)</span></div>
                    <div class="part"><span class="baslik">Başlangıç Tarihi</span><span class="yazi">@Html.Raw(grv.baslangic_tarihi.ToString("dd.MM.yyyy"))</span></div>
                    <div class="part"><span class="baslik">Bitiş Tarihi</span><span class="yazi">@Html.Raw(grv.bitis_tarihi.ToString("dd.MM.yyyy"))</span></div>
                    <div class="part"><span class="baslik">Durum</span><span class="yazi">@Html.Raw(GorevYoneticisi.Tools.TamamlamaDurumlari.getTamamlamaDurum(grv.durum))</span></div>
                    <div class="part"><span class="yuzde"><span class="bar" style="width: @Html.Raw(grv.yuzde+"%;")"></span><span class="yuzde-yazi">@Html.Raw("% " + grv.yuzde)</span></span></div>
                    <div class="part buttons">
                        <a id="teklif-button" data-toggle="tooltip" title="Düzenle" href="@Html.Raw(Url.Action("GorevBilgisi", new { id = grv.url }))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


